@import "observer";
@import "./disable-lang";

.links ul {
  gap: 1rem;
}

@media screen and (max-width: 900px) {
    .blog-title h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 740px) {
    .blog-title h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 440px) {
    .blog-title h1 {
        font-size: 2rem;
    }

    #header .links {
        .menu-title, .menu-title-short {
            a {
                font-size: 1.4rem;
            }
        }
    }
}
